/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bulma";

 .hero.is-primary{
	background-color: #750000;
}
.main{
	background-image: linear-gradient(rgba(242, 242, 242, 0.5), rgba(102, 102, 102, 0.5)), url('spork.png');
}
.hero.is-primary .navbar-brand a.logo:hover{
	background: #750000;
}
.hero.is-primary a.navbar-item:hover, 
.hero.is-primary .navbar-link:hover {
	background: linear-gradient( #a30000,rgba(117, 0, 0, 1));
}
.hero.is-primary .navbar-dropdown {
	padding: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.hero.is-primary .navbar-dropdown .navbar-item {
	background: linear-gradient(rgba(117, 0, 0, 0.9), rgba(163, 0, 0, 0.9));
}
.hero.is-primary .navbar-dropdown .navbar-item:hover{
	background: linear-gradient( rgba(163, 0, 0, 1),rgba(117, 0, 0, 1));
	color: #000;
}
.hero.is-primary .navbar-end .button:hover{
	background: #a30000;
	border: 1px soilid black;
}


